In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#importing the data
df = pd.read_csv('data/raw/demographic_health_data.csv')

#For this project the Obesity_number will be our target variable

df = df.rename(columns={'19-Oct' : '10-19'})

df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,10-19,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [2]:
print(df.shape)

(3140, 108)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Columns: 108 entries, fips to Urban_rural_code
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB
None

In [4]:
#GETTING COLUMN NAME/TYPE

def split_columns(data_frame : pd.DataFrame) -> tuple[list, list]:
    numeric_columns = data_frame.select_dtypes(include=[np.number]).columns.tolist()
    print("Numeric columns:", numeric_columns)
    categorical_columns = df.select_dtypes(include=['object', 'category', 'bool']).columns.tolist()
    print("Categorical columns:", categorical_columns)


    return numeric_columns, categorical_columns

numeric_variables, categorical_variables = split_columns(df)

Numeric columns: ['fips', 'TOT_POP', '0-9', '0-9 y/o % of total pop', '10-19', '10-19 y/o % of total pop', '20-29', '20-29 y/o % of total pop', '30-39', '30-39 y/o % of total pop', '40-49', '40-49 y/o % of total pop', '50-59', '50-59 y/o % of total pop', '60-69', '60-69 y/o % of total pop', '70-79', '70-79 y/o % of total pop', '80+', '80+ y/o % of total pop', 'White-alone pop', '% White-alone', 'Black-alone pop', '% Black-alone', 'Native American/American Indian-alone pop', '% NA/AI-alone', 'Asian-alone pop', '% Asian-alone', 'Hawaiian/Pacific Islander-alone pop', '% Hawaiian/PI-alone', 'Two or more races pop', '% Two or more races', 'POP_ESTIMATE_2018', 'N_POP_CHG_2018', 'GQ_ESTIMATES_2018', 'R_birth_2018', 'R_death_2018', 'R_NATURAL_INC_2018', 'R_INTERNATIONAL_MIG_2018', 'R_DOMESTIC_MIG_2018', 'R_NET_MIG_2018', 'Less than a high school diploma 2014-18', 'High school diploma only 2014-18', "Some college or associate's degree 2014-18", "Bachelor's degree or higher 2014-18", 'Percent of adults with less than a high school diploma 2014-18', 'Percent of adults with a high school diploma only 2014-18', "Percent of adults completing some college or associate's degree 2014-18", "Percent of adults with a bachelor's degree or higher 2014-18", 'POVALL_2018', 'PCTPOVALL_2018', 'PCTPOV017_2018', 'PCTPOV517_2018', 'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018', 'Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018', 'Unemployment_rate_2018', 'Median_Household_Income_2018', 'Med_HH_Income_Percent_of_State_Total_2018', 'Active Physicians per 100000 Population 2018 (AAMC)', 'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)', 'Active Primary Care Physicians per 100000 Population 2018 (AAMC)', 'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)', 'Active General Surgeons per 100000 Population 2018 (AAMC)', 'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)', 'Total nurse practitioners (2019)', 'Total physician assistants (2019)', 'Total Hospitals (2019)', 'Internal Medicine Primary Care (2019)', 'Family Medicine/General Practice Primary Care (2019)', 'Total Specialist Physicians (2019)', 'ICU Beds_x', 'Total Population', 'Population Aged 60+', 'Percent of Population Aged 60+', 'STATE_FIPS', 'CNTY_FIPS', 'county_pop2018_18 and older', 'anycondition_prevalence', 'anycondition_Lower 95% CI', 'anycondition_Upper 95% CI', 'anycondition_number', 'Obesity_prevalence', 'Obesity_Lower 95% CI', 'Obesity_Upper 95% CI', 'Obesity_number', 'Heart disease_prevalence', 'Heart disease_Lower 95% CI', 'Heart disease_Upper 95% CI', 'Heart disease_number', 'COPD_prevalence', 'COPD_Lower 95% CI', 'COPD_Upper 95% CI', 'COPD_number', 'diabetes_prevalence', 'diabetes_Lower 95% CI', 'diabetes_Upper 95% CI', 'diabetes_number', 'CKD_prevalence', 'CKD_Lower 95% CI', 'CKD_Upper 95% CI', 'CKD_number', 'Urban_rural_code']
Categorical columns: ['COUNTY_NAME', 'STATE_NAME']

In [5]:
def factorize_data(data_frame : pd.DataFrame, columns : list[str]) -> pd.DataFrame:
    new_df = data_frame
    for col in columns:
        new_df[col] = pd.factorize(df[col])[0]

    return new_df

#One hot encoding
df = pd.get_dummies(df, columns=categorical_variables,  drop_first=True)
#Excluding numeric columns, factorize the newly encoded values
df = factorize_data(df, [col for col in df.columns if col not in numeric_variables])
df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,10-19,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,STATE_NAME_South Dakota,STATE_NAME_Tennessee,STATE_NAME_Texas,STATE_NAME_Utah,STATE_NAME_Vermont,STATE_NAME_Virginia,STATE_NAME_Washington,STATE_NAME_West Virginia,STATE_NAME_Wisconsin,STATE_NAME_Wyoming
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,0,0,0,0,0,0,0,0,0,0
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,0,0,0,0,0,0,0,0,0,0
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,0,0,0,0,0,0,0,0,0,0
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,0,0,0,0,0,0,0,0,0,0
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,0,0,0,0,0,0,0,0,0,1
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,0,0,0,0,0,0,0,0,0,1
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,0,0,0,0,0,0,0,0,0,1
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,0,0,0,0,0,0,0,0,0,1
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,0,0,0,0,0,0,0,0,0,1

In [6]:
#Null Values and duplicates
print(df.shape)
df.isnull().sum().sort_values(ascending = False)
df.drop_duplicates()
print(df.shape)

#The dataset has no null or duplicate values

(3140, 1996)
(3140, 1996)

In [7]:
#Splitting the data and feature selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_regression

X = df.drop(columns=["Obesity_number"])
y = df["Obesity_number"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)


selection_model = SelectKBest(score_func = f_regression, k = 120)
selection_model.fit(X_train, y_train)
ix = selection_model.get_support()

X_train_sel = pd.DataFrame(selection_model.transform(X_train), columns = X_train.columns.values[ix])
X_test_sel = pd.DataFrame(selection_model.transform(X_test), columns = X_test.columns.values[ix])

X_train_sel.head()

,TOT_POP,0-9,10-19,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,40-49,40-49 y/o % of total pop,50-59,...,COUNTY_NAME_San Diego,COUNTY_NAME_Santa Clara,COUNTY_NAME_Suffolk,COUNTY_NAME_Tarrant,STATE_NAME_Arizona,STATE_NAME_California,STATE_NAME_Florida,STATE_NAME_Massachusetts,STATE_NAME_New Jersey,STATE_NAME_New York
0,26625.0,3221.0,3463.0,2922.0,10.974648,2829.0,10.625352,2831.0,10.632864,3831.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,51266.0,5272.0,5751.0,5137.0,10.020286,5341.0,10.418211,5880.0,11.469590,7885.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,37779.0,3915.0,5118.0,6202.0,16.416528,4363.0,11.548744,4451.0,11.781678,5107.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,91984.0,11163.0,12646.0,11595.0,12.605453,11357.0,12.346712,11444.0,12.441294,12774.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,134487.0,16698.0,17666.0,17281.0,12.849569,15993.0,11.891856,15845.0,11.781808,17982.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#Scaling
from sklearn.preprocessing import MinMaxScaler

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Apply scaling
X_train_sel = pd.DataFrame(scaler.fit_transform(X_train_sel), columns=X_train_sel.columns)
X_test_sel = pd.DataFrame(scaler.fit_transform(X_test_sel), columns=X_test_sel.columns)

print(X_test.head())

       fips  TOT_POP    0-9  0-9 y/o % of total pop  10-19  \
2893  51159     9038    812                8.984289    903
2968  53035   269805  30843               11.431589  29948
1064  21147    17408   2076               11.925551   2129
1231  26005   117327  15179               12.937346  15892
2987  53073   225685  24496               10.854067  27050

      10-19 y/o % of total pop  20-29  20-29 y/o % of total pop  30-39  \
2893                  9.991148   1107                 12.248285   1251
2968                 11.099868  41468                 15.369619  36139
1064                 12.230009   2244                 12.890625   2419
1231                 13.545049  13545                 11.544657  14075
2987                 11.985732  40511                 17.950240  28415

      30-39 y/o % of total pop  ...  STATE_NAME_South Dakota  \
2893                 13.841558  ...                        0
2968                 13.394489  ...                        0
1064                 13.895910  ...                        0
1231                 11.996386  ...                        0
2987                 12.590558  ...                        0

      STATE_NAME_Tennessee  STATE_NAME_Texas  STATE_NAME_Utah  \
2893                     0                 0                0
2968                     0                 0                0
1064                     0                 0                0
1231                     0                 0                0
2987                     0                 0                0

      STATE_NAME_Vermont  STATE_NAME_Virginia  STATE_NAME_Washington  \
2893                   0                    1                      0
2968                   0                    0                      1
1064                   0                    0                      0
1231                   0                    0                      0
2987                   0                    0                      1

      STATE_NAME_West Virginia  STATE_NAME_Wisconsin  STATE_NAME_Wyoming
2893                         0                     0                   0
2968                         0                     0                   0
1064                         0                     0                   0
1231                         0                     0                   0
2987                         0                     0                   0

[5 rows x 1995 columns]

In [9]:
X_train_sel["Obesity_number"] = list(y_train)
X_test_sel["Obesity_number"] = list(y_test)
X_train_sel.to_csv("data/clean/clean_train.csv", index = False)
X_test_sel.to_csv("data/clean/clean_test.csv", index = False)

## REGULARIZED LINEAR REGRESSION MODEL

In [10]:
#Check model.ipynb (Kernel error, had to move the code)